*{
	border:0px;
	padding:0px;
	margin:0px;
}

html{

}

body{
	width:259px;
	height:353px;
	margin:10px auto;
}

#panel{
	width:259px;
	height:353px;
	background-image: url(img/panel.png);
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
}

.menu{
	width:212px;
	height:60px;
	margin-left:21px;
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.display{
	width:212px;
	height:64px;
	margin-left:21px;
}

.display .panel{
	width:194px;
	height:54px;
	background: url(img/panel.jpg) no-repeat;
	margin:2px 0 0 9px;
}

.display ul{
	list-style:none;
	padding:8px 8px 0 0;
}

.display .finding{
	font-family:monospace;
	font-size:12px;
	text-align:right;
	height:15px;
}

.display .conclusion{
	font-family:monospace;
	font-size:20px;
	text-align:right;
}



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.button{
	width:212px;
	height:195px;
	margin-left:21px;
}

.button ul{
	list-style:none;
	text-align:center;
	padding-left:11px;
}

.button li{
	float:left;
}



/*number image, position*/

.butt{
	width:38px;
	height:31px;
	display:inline-block;
	cursor:pointer;
}

.noll{
	width:75px;
	height:31px;
	display:inline-block;
	cursor:pointer;
	margin-top:-49px;
}

.point{
	width:38px;
	height:31px;
	display:inline-block;
	cursor:pointer;
	margin-left:76px;
	margin-top:-49px;
}

.numberOn{
	background: url(img/numberOn.png) no-repeat;
}

.numberOff{
	color:green;
	background: url(img/numberOff.png) no-repeat;
}

.numberOnHeight{
	background: url(img/numberOnHeight.jpg) no-repeat;
}

.numberOffHeight{
	background: url(img/numberOffHeight.jpg) no-repeat;
}

.numberOnWidth{
	background: url(img/numberOnWidth.jpg) no-repeat;
}

.numberOffWidth{
	background: url(img/numberOffWidth.jpg) no-repeat;
}
/*---------------*/

/*btn image, position*/

.anyway{
	width:38px;
	height:63px;
	display:inline-block;
	cursor:pointer;
	padding-top:17px;
}

.plus{
	width:38px;
	height:31px;
	display:inline-block;
	cursor:pointer;
	margin-left:114px;
	margin-top:-49px;
}

.symbolOn{
	background: url(img/symbolOn.jpg) no-repeat;
}

.symbolOff{
	background: url(img/numberOff.png) no-repeat;
}

/*---------------*/


.button .number{
	font-family:monospace;
	font-size:16px;
	display:inline-block;
	margin-top:6px;
}

.button .sign{
	font-family:monospace;
	font-size:12px;
	display:inline-block;
	margin-top:10px;
}

.button .butt:hover, .anyway:hover, .noll:hover, .point:hover, .plus:hover{
	color:red;
}

